################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SDP/src/UTS.HELPS.WebServices.WebAPI/obj/Release/Package/PackageTmp/App_Data
