<div ng-controller="FindWorkshops">

    <md-toolbar class="md-accent" layout="row">
        <h2 class="md-toolbar-tools">Filter</h2>
        <span flex></span>
        <div layout="row">
            <span class="lable md-body-1">Page:</span>
            <md-select class="md-body-1" ng-model="filter.Page" ng-change="loadWorkshops()">
                <md-option ng-repeat="i in getPages() track by $index" ng-value="i" ng-bind="i"></md-option>
            </md-select>
        </div>
        <div layout="row">
            <span class="lable md-body-1">Rows per Page:</span>
            <md-select class="md-body-1" ng-model="filter.PageSize  " ng-change="resetPages()">
                <md-option ng-repeat="i in [5, 10, 15] track by $index" ng-value="i">{{i}}</md-option>
            </md-select>
        </div>
        <md-button class="md-icon-button" aria-label="Left" ng-click="previousPage()" ng-disabled="filter.Page==1">
            <md-icon md-svg-icon="img/icons/left.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Right" ng-click="nextPage()" ng-disabled="!moreWorkshops()">
            <md-icon md-svg-icon="img/icons/right.svg"></md-icon>
        </md-button>
    </md-toolbar>


    <section layout="row" layout-wrap>
        <div flex="100" flex-gt-xs="50" flex-gt-sm="33" flex-gt-lg="25" ng-repeat="workshop in workshops">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" ng-bind="workshop.topic">{</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>Details:</p>
                    <p><b ng-bind="workshop.StartDate | date:'mediumDate'"></b> to <b ng-bind="workshop.EndDate | date:'mediumDate'"></b></p>
                    <p><b ng-bind="workshop.StartDate | date:'shortTime'"></b> to <b ng-bind="workshop.EndDate | date:'shortTime'"></b></p>
                </md-card-content>
                <md-card-actions layout="row">
                    <md-button class="md-primary">Details</md-button>
                    <span flex></span>
                    <span class="count" md-colors="{:: background: 'default-accent'}" ng-bind="workshop.maximum - workshop.BookingCount"></span>
                </md-card-actions>
            </md-card>
        </div>
    </section>

</div>