<md-content layout-margin flex>
    <section layout="row" layout-wrap flex>
        <div flex="100" flex-gt-xs="50" flex-gt-sm="33" flex-gt-lg="25" ng-repeat="workshop in workshops">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" ng-bind="workshop.topic"></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>Details:</p>
                    <p><b ng-bind="workshop.StartDate | date:'mediumDate'"></b> to <b ng-bind="workshop.EndDate | date:'mediumDate'"></b></p>
                    <p><b ng-bind="workshop.StartDate | date:'shortTime'"></b> to <b ng-bind="workshop.EndDate | date:'shortTime'"></b></p>
                </md-card-content>
                <md-card-actions layout="row">
                    <md-button class="md-primary" aria-label="Get Details" ng-href="{{'#workshop/' + workshop.WorkshopId}}">Details</md-button>
                    <span flex></span>
                    <span class="count" md-colors="{:: background: 'default-accent'}" ng-bind="pos(workshop.cutoff, workshop.BookingCount)"></span>
                </md-card-actions>
            </md-card>
        </div>
    </section>
</md-content>

<md-sidenav id="rightSidebar" md-component-id="rightSidebar" class="md-sidenav-right" md-whiteframe="4" data-btn-icon="filter.svg">
    <md-toolbar class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Close" ng-click="closeSidebar()">
            <md-icon md-svg-icon="img/icons/close.svg"></md-icon>
        </md-button>
        <span flex></span>
        <h1>Filter Workshops</h1>
        <span flex></span>
    </md-toolbar>
    <md-content layout-padding>
        <div class="md-body-1" layout="row" layout-align="start center">
            <span class="lable">Select Page:</span>
            <md-select class="nomargin" aria-label="Select Page" ng-model="filter.Page" ng-change="loadWorkshops()">
                <md-option ng-repeat="i in getPages() track by $index" ng-value="i" ng-bind="i"></md-option>
            </md-select>
            <md-button class="md-icon-button" aria-label="Left" ng-click="previousPage()" ng-disabled="filter.Page==1">
                <md-icon md-svg-icon="img/icons/left.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Right" ng-click="nextPage()" ng-disabled="!moreWorkshops()">
                <md-icon md-svg-icon="img/icons/right.svg"></md-icon>
            </md-button>
        </div>
        <div class="md-body-1" layout="row" layout-align="start center">
            <span class="lable">Select Rows per Page:</span>
            <md-select class="nomargin"  aria-label="Select Num Per Page" ng-model="filter.PageSize  " ng-change="resetPages()">
                <md-option ng-repeat="i in [5, 10, 15] track by $index" ng-value="i">{{i}}</md-option>
            </md-select>
        </div>

    </md-content>
</md-sidenav>