<md-dialog aria-label="Login">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Login</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <p>Enter your Student ID and Password</p>
            <p ng-bind="errorMsg"></p>
            <md-input-container>
                <label>ID</label>
                <input ng-model="User.ID">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input ng-model="User.Password" type="password">
            </md-input-container>
            <md-button class="md-raised md-primary" layout="column" ng-click="Login()">
                Login
            </md-button>
        </div>
    </md-dialog-content>
</md-dialog>